div{
    margin-right: auto;
    margin-left: auto;
}

.Chronometer{
    font-family: Digital;
    color: #61dafb;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #61dafb;
    margin: 20px 0px !important; 
}

.ChronometerTrybe{
    font-family: Digital;
    color: #30c48c;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #30c48c;
    margin: 20px 0px !important; 
}

.ChronometerStar{
    font-family: Digital;
    color: #CFD8DC;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #CFD8DC; 
    margin: 20px 0px !important; 
}

.Chronometer1{
    font-family: Digital;
    color: #F44D48;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #F44D48;
    margin: 20px 0px !important; 
}

.Chronometer2{
    font-family: Digital;
    color: #4EEF77;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #4EEF77;
    margin: 20px 0px !important; 
}

.Chronometer3{
    font-family: Digital;
    color: #FFE166;
    font-size: 120px;
    padding-bottom: 18px;
    border: double 5px #FFE166;
    margin: 20px 0px !important; 
}

.buttonChronometer{
    font-family: Digital;
    color: #61dafb;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.inputChronometer{
    font-family: Digital;
    color: #61dafb;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    border: solid 5px #61dafb;
    padding-bottom: 10px;
    cursor: pointer;
}

.textChronometer{
    font-family: Digital;
    color: #61dafb;
    background-color: #282c34;;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    width: 100px;
    padding-bottom: 10px;
}

.buttonChronometerTrybe{
    font-family: Digital;
    color: #30c48c;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.inputChronometerTrybe{
    font-family: Digital;
    color: #30c48c;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    border: solid 5px #30c48c;
    padding-bottom: 10px;
    cursor: pointer;
}

.textChronometerTrybe{
    font-family: Digital;
    color: #30c48c;
    background-color: #282c34;;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    width: 100px;
    padding-bottom: 10px;
}

.buttonChronometerStar{
    font-family: Digital;
    color: #CFD8DC;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.inputChronometerStar{
    font-family: Digital;
    color: #CFD8DC;
    background-color: #282c34;;
    font-size: 44px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    border: solid 5px #CFD8DC;
    padding-bottom: 10px;
    cursor: pointer;
}

.textChronometerStar{
    font-family: Digital;
    color: #CFD8DC;
    background-color: #282c34;;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    width: 100px;
    padding-bottom: 10px;
}

@media screen and (max-width: 450px){
    .Chronometer, .ChronometerTrybe, .ChronometerStar, .Chronometer1, .Chronometer2, .Chronometer3{
        font-size: 100px;
        padding-bottom: 18px;
    }

    .buttonChronometer, .textChronometer, .buttonChronometerTrybe, .textChronometerTrybe, .buttonChronometerStar, .textChronometerStar{
        margin-left: 5px;
        margin-right: 5px;
    }

    .inputChronometer, .inputChronometerTrybe, .inputChronometerStar{
        margin-left: 10px;
        margin-right: 10px;
    }
}